<% provide(:title, 'Help') %>
<div class="row">
	<div class="span2"></div>
	<div class="span8" id="help_steps">
		<h4>Invoice Help</h4>

		<p>Follow the steps below to create an order:</p>

		<ol>
			<li>Search the catalogue for the part</li>
			<li>Select the part by clicking on the order button</li>
			<li>If the customer is registered go to step 5 otherwise create a customer</li>
			<li>Select the customer from the dropdown</li>
			<li>Check that the part details are correct</li>
			<li>Click Create Invoice</li>
            <li>Click Download PDF to get printed copy</li>
		</ol>
	</div>
	<div class="span2"></div>

</div>


