<% provide(:title, "Parts Catalogue") %>
<h1>Parts Catalogue</h1>
<h2>Please select the make and model of the car you require the part for.</h2>

<div class="row">
	<%= render 'shared/car_list' %>
</div>





