<div class = "row" id ="catalog_div" >
  <div class = "span3"></div>
  <div class="span6" id = "catalog_menu">
    <section>
      <div id="partmenu">
      <% car_make = car_item.make%>
      <div class="list-group panel" id = "make_model_list">
          <a href="#<%=car_make%>" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#PartMenu"><%=car_make%></a>
          <div class="collapse" id="<%=car_make%>">
            <% cars = Car.where("make=?",car_make) %>
            <% cars.each do |c|%>
                <%= link_to "#{c.model}", {:controller => "invoices", :action => "new", :car_id => "#{c.id}" } %>
              <%end%>
          </div>
        </div>
    </div>
  </section>
</div>
<div class="span3">    
</div>
</div>







