@import "bootstrap";

 /* mixins, variables, etc. */

  $grayMediumLight: #eaeaea;

  @mixin box_sizing {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
  }
    #error_explanation {
      color: #ff0000;
      ul {
        list-style: none;
        margin: 0 0 18px 0;
      }
    }

  #help_steps{
    text-align: left;
  }


    .field_with_errors {
      @extend .control-group;
      @extend .error;
     }

      /* forms */

    input, textarea, select, .uneditable-input {
      border: 1px solid #bbb;
      width: 100%;
      padding: 10px;
      height: auto !important;
      margin-bottom: 15px;
      @include box_sizing;
    }

  /* content */

    #container {
      width: 100%;
      margin: 0 auto;
      background-color: #ca4644;
//      position:absolute;
//      top:0;
//      bottom:0;
      min-height: 100vh;
      display:block;
      overflow:auto;
    }
    /* header */
    header {
      width: 100%;
      margin: 0 auto;
      color: #222222;

    }

    .danger {
      background-color: #FFCCCC;
    }

    .ok{
      background-color: #D6FFD6;
    }


 /* miscellaneous */

  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }


 /* universal */

    html {
      overflow-y: scroll;
    }

    body {
      padding-top: 40px;
    }

    section {
      overflow: auto;
    }

    textarea {
      resize: vertical;
    }

    .center {
      text-align: center;
    }

    .center h1 {
      margin-bottom: 10px;
    }

    /* typography */

    h1, h2, h3, h4, h5, h6 {
      line-height: 1;
    }

    h1 {
      font-size: 3em;
      letter-spacing: -2px;
      margin-bottom: 30px;
      text-align: center;
    }

    h2 {
      font-size: 1.7em;
      letter-spacing: -1px;
      margin-bottom: 30px;
      text-align: center;
      font-weight: normal;
      color: rgba(15, 7, 6, 0.89);
    }

    p {
      font-size: 1.1em;
      line-height: 1.7em;
    }

    #logo {
      float: left;
      margin-left: 20px;
      font-size: 1.7em;
      color: #444;
      text-transform: uppercase;
      letter-spacing: -1px;
      padding-top: 12px;
      font-weight: bold;
      line-height: 1;
    }
    .block{
      padding-top: 80px;
      width: 85%;
      margin: 0 auto;
    }


//    #catalog_menu{
//      background-color: #;
//    }
//    #catalog_div{
//      margin: 10px;
//
//    }

    #partmenu{
      padding:10px;
    }

    .table{
      padding-top: 20px;
    }

    .section{
      text-align: left;
    }

   